In [1]:
import pandas as pd

In [3]:
x = pd.read_csv ("E:/data/ECOM_sales.csv")

In [13]:
z1 =x.iloc[0:10]

In [15]:
y = z1.to_dict(orient = 'records')

In [11]:
y

[{'CG-12520': 'DV-13045',
  'Claire Gute': 'Darrin Van Huff',
  'Consumer': 'Corporate',
  '67': 31,
  'United States': 'United States',
  'Henderson': 'Los Angeles',
  'Kentucky': 'California',
  '42420': 90036,
  'South': 'West'},
 {'CG-12520': 'SO-20335',
  'Claire Gute': "Sean O'Donnell",
  'Consumer': 'Consumer',
  '67': 65,
  'United States': 'United States',
  'Henderson': 'Fort Lauderdale',
  'Kentucky': 'Florida',
  '42420': 33311,
  'South': 'South'},
 {'CG-12520': 'BH-11710',
  'Claire Gute': 'Brosina Hoffman',
  'Consumer': 'Consumer',
  '67': 20,
  'United States': 'United States',
  'Henderson': 'Los Angeles',
  'Kentucky': 'California',
  '42420': 90032,
  'South': 'West'},
 {'CG-12520': 'AA-10480',
  'Claire Gute': 'Andrew Allen',
  'Consumer': 'Consumer',
  '67': 50,
  'United States': 'United States',
  'Henderson': 'Concord',
  'Kentucky': 'North Carolina',
  '42420': 28027,
  'South': 'South'},
 {'CG-12520': 'IM-15070',
  'Claire Gute': 'Irene Maddox',
  'Consumer': 'Consumer',
  '67': 66,
  'United States': 'United States',
  'Henderson': 'Seattle',
  'Kentucky': 'Washington',
  '42420': 98103,
  'South': 'West'},
 {'CG-12520': 'HP-14815',
  'Claire Gute': 'Harold Pawlan',
  'Consumer': 'Home Office',
  '67': 20,
  'United States': 'United States',
  'Henderson': 'Fort Worth',
  'Kentucky': 'Texas',
  '42420': 76106,
  'South': 'Central'},
 {'CG-12520': 'PK-19075',
  'Claire Gute': 'Pete Kriz',
  'Consumer': 'Consumer',
  '67': 46,
  'United States': 'United States',
  'Henderson': 'Madison',
  'Kentucky': 'Wisconsin',
  '42420': 53711,
  'South': 'Central'},
 {'CG-12520': 'AG-10270',
  'Claire Gute': 'Alejandro Grove',
  'Consumer': 'Consumer',
  '67': 18,
  'United States': 'United States',
  'Henderson': 'West Jordan',
  'Kentucky': 'Utah',
  '42420': 84084,
  'South': 'West'},
 {'CG-12520': 'ZD-21925',
  'Claire Gute': 'Zuschuss Donatelli',
  'Consumer': 'Consumer',
  '67': 66,
  'United States': 'United States',
  'Henderson': 'San Francisco',
  'Kentucky': 'California',
  '42420': 94109,
  'South': 'West'},
 {'CG-12520': 'KB-16585',
  'Claire Gute': 'Ken Black',
  'Consumer': 'Corporate',
  '67': 67,
  'United States': 'United States',
  'Henderson': 'Fremont',
  'Kentucky': 'Nebraska',
  '42420': 68025,
  'South': 'Central'}]

In [17]:
x = pd.read_excel ("E:/data/population-2030-2040.xlsx")

In [18]:
x

,LocID,Location,Time,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
0,4.0,Afghanistan,2030.0,0-4,0.0,5.0,3020.571,2871.955,5892.526
1,8.0,Albania,2030.0,0-4,0.0,5.0,68.824,63.581,132.405
2,12.0,Algeria,2030.0,0-4,0.0,5.0,2116.681,2026.749,4143.430
3,24.0,Angola,2030.0,0-4,0.0,5.0,3714.206,3649.187,7363.393
4,28.0,Antigua and Barbuda,2030.0,0-4,0.0,5.0,3.452,3.354,6.806
...,...,...,...,...,...,...,...,...,...
45971,308.0,Grenada,2040.0,100+,100.0,-1.0,0.001,0.004,0.005
45972,426.0,Lesotho,2040.0,100+,100.0,-1.0,0.001,0.009,0.010
45973,516.0,Namibia,2040.0,100+,100.0,-1.0,0.001,0.003,0.004
45974,690.0,Seychelles,2040.0,100+,100.0,-1.0,0.001,0.007,0.008
45975,776.0,Tonga,2040.0,100+,100.0,-1.0,0.001,0.000,0.001